@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Open+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vw;
  font-family: 'Open Sans', sans-serif;
}

.App .header {
  background-color: tomato;
  width: 100%;
  flex: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App .header .inputs {
 display: flex;
 flex-direction: column;
}

.App .header input {
 width: 300px;
 height: 40px;
 border: none;
 border-top-left-radius: 8px;
 border-bottom-left-radius: 8px;
 padding: 10px 15px;
 font-size: 20px;
 border: 1px solid grey;
}

.App .header button {
  width: 100px;
  height: 80px;
  border: none;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 10px 15px;
  font-size: 20px;
  border: 1px solid grey;
  cursor: pointer;
 }

 .App .todoList {
  flex: 70%;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 50px;
  flex-direction: column;
 }

 .App .task {
  width: 500px;
  height: 50px;
  display: flex;
  color: white;
  margin: 15px;
 }


 .App .content {
  flex: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
 }

 .App .task .content span {
  display: grid;
  place-items: center;
  border: 1px solid white;
  width: 100%;
  height: 100%;
  font-size: 18px;
  border-right: none;
  background-color: tomato;
 }
