@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Open+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vw;
  font-family: 'Open Sans', sans-serif;
}

.App .header {
  background-color: tomato;
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App .header input {
 width: 200px;
 height: 40px;
 border: none;
 border-top-left-radius: 8px;
 border-bottom-left-radius: 8px;
}
